modules = ["web", "nodejs-18", "cpp-clang14", "python-3.12"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Production Server"

[[workflows.workflow]]
name = "Production Server"
author = 43833043
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
